name: Scrape ArXiv

on:
  schedule:
    # * is a special character in YAML so you have to quote this string
    # runs once a day
   - cron:  '*/5 * * * *'



# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
    - uses: actions/checkout@master
      with:
        submodules: 'true'
    - name: Setup Python
      uses: actions/setup-python@master
      with:
        python-version: 3.7
    - name: scrape the arxiv
      run: |
        pip install -r requirements.txt
        python scrape_arxiv.py
        
    - run: git pull
          
    - name: Committing changes
      uses: stefanzweifel/git-auto-commit-action@v4
      with:
        commit_message: Build plots
